<div class="FooterLogo">
    <a href="">
        <img src="{{ path }}/img/{{ logo }}.svg"  onerror="this.src='{{ path }}/img/{{ logo }}.png'" alt="{{ name }}" />
        <span class="u-visuallyHidden">{{ name }}</span>
    </a>
</div><!--/.FooterLogo-->
