<div class="HeaderLogo">
    <a href="">
        <img src="{{ path }}/build/img/{{ logo }}.svg"  onerror="this.src='{{ path }}/build/img/{{ logo }}.png'" alt="{{ name }}" />
        <h1 class="u-visuallyHidden">{{ name }}</h1>
    </a>
</div>
