<div class="HeaderLogo"><a href=""><img src="{{ path }}/build/img/{{ logo }}.svg"  onerror="this.src='{{ path }}/build/img/{{ logo }}.png'" alt="{{ name }}" /><span class="u-visuallyHidden">{{ name }}</span></a></div>
