<article class="Post u-relative {{ postclass }}" >

    <header>
        <h2 class="u-title u-title--large u-margin__10">{% if page.heading %}{{ page.heading }}{% else %}{{post.heading.short}}{% endif %}</h2>
        {% if page.author %}
            <div class="u-commaList u-text--meta u-margin__20">by 
                {% for item in page.author %}
                    <div class="u-text--meta">{{ item.name }}</div>
                {% endfor %} 
            </div>
        {% endif %}        
        {% if page.summary %}
            <div class="u-margin__60">
                <p>{{ page.summary }}</p>
            </div>
        {% endif %}
    </header>

    <div class="Post__content u-relative">

        {% if page.type == "list" %}
            <div class="Post__list">
                <ul class="u-mediumStack">
                    {% for post in 1..5 %}
                          <li>{% include "02-components/custom/Teaser" %}</li>
                    {% endfor %} 
                </ul>
            </div>     
        {% else %}
            <div class="Post__body u-WYSIWYG">
                {% block post_body %}
                    <p>{{ post.excerpt.long }} {{ post.excerpt.long }}</p>
                    <p>{{ post.excerpt.long }}</p>
                    <ul>
                        <li>{{ post.excerpt.short }}</li>
                        <li>{{ post.excerpt.long }}</li>
                        <li>{{ post.excerpt.medium }}</li>
                    </ul>
                    <p>{{ post.excerpt.long }} {{ post.excerpt.long }} {{ post.excerpt.long }}</p>
                    <blockquote><p>Lorem Ipsum sample blockquote sit dolor.</p></blockquote>
                    <p>{{ post.excerpt.long }} {{ post.excerpt.long }} {{ post.excerpt.long }}</p>
                {% endblock %}
            </div><!-- /.Post__body -->
        {% endif %}
    
    </div><!-- /.Post__content -->

</article><!-- /.Post -->

