<article class="Teaser u-clearfix">
	<a href="">
		<div class="{% if post.img %} u-grid u-grid--singleRow {% endif %}">
			{% if post.img %}
				<div class="u-grid__20">
					<img src="{{ post.img.img144xAuto.src }}" alt="" />
				</div><!-- /.u-grid__20 -->
			{% endif %}
			<div class="Teaser__text {% if post.img %} u-grid__80 {% endif %}">
				<header class="Teaser__header u-margin__10">
					<h3 class="Teaser__title u-title u-title--small u-truncate">{{ post.title}}</h3>
					{% if post.subtitle %}
						<div class="Teaser__subtitle u-black">{{ post.subtitle }}</div>
					{% endif %}
					{% if post.author %}
						<div class="u-commaList u-text--meta ">by 
					        {% for item in post.author %}
					        	<div>{{ item.name }}</div>
					        {% endfor %} 
					    </div>
					{% endif %}
				</header>
				<div class="u-paddingBottom__5">
					<div class="Teaser__excerpt u-text--small u-margin__10 u-truncateP">
						<p>{{ post.excerpt }}</p>
					</div>
					{% if post.category %}
						<ul class="u-pipeList">
							{% for item in post.category %}
								<li class="u-label">{{ item.name }}</li>
							{% endfor %}
						</ul>
					{% endif %}
				</div>
				<div class="Teaser__link u-button"><span class="u-fakelink">Learn More</span></div>
			</div><!-- /.u-grid__80 -->
		</div><!-- /.u-grid -->
	</a>
</article>